// USWDS custom style overrides for demos on docs page
iframe:focus,
[href]:focus,
[tabindex]:focus,
[contentEditable='true']:focus,
input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus,
button:not([disabled]):focus {
  outline: 2px dotted #aeb0b5;
}

.sr-only {
  display: none;
}

.sidebar-heading {
  opacity: 0.8;
  font-size: 1em !important;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);
